@use '../../styles/variables' as *

.calendar-sidebar
  padding: $spacing-lg
  display: flex
  flex-direction: column
  gap: $spacing-lg
  border-right: $border-size-sm solid $border-color-default
  min-width: 256px

  @media (max-width: $breakpoint-lg)
    order: 1
    min-width: auto
    width: 100%
    flex-direction: row
    border-right: none
    border-top: $border-size-sm solid $border-color-default

  @media (max-width: $breakpoint-sm)
    flex-direction: column

.sidebar-filters
  @media (max-width: $breakpoint-lg)
    flex-grow: 1
    flex-shrink: 1
    flex-basis: 0

  &__title
    padding-bottom: $spacing-sm

  &__content
    display: flex
    flex-direction: column
    gap: $spacing-md


.sidebar-availability
  @media (max-width: $breakpoint-lg)
    flex-grow: 1
    flex-shrink: 1
    flex-basis: 0

  &__title
    padding-bottom: $spacing-sm

  &__list
    list-style: none
    padding: 0
    margin: 0
    display: flex
    flex-direction: column
    gap: $spacing-xs

  &__item
    display: flex
    align-items: center
    gap: $spacing-xs
    font-size: $font-size-xs
    font-weight: $font-weight-regular
    color: $color-gray

    &::before
      content: ''
      width: 12px
      height: 12px
      border-radius: $border-radius-full

    &_available::before
      background-color: $color-green

    &_low::before
      background-color: $color-yellow

    &_full::before
      background-color: $color-red-light

    &_canceled::before
      background-color: $color-gray-light
