@use '../../styles/variables' as *

.form-field
  padding-bottom: $spacing-lg

  &__label
    display: block
    font-size: $font-size-sm
    color: $color-gray-dark
    padding-bottom: $spacing-xs

  &__icon,
  &__button
    position: absolute
    right: $spacing-md
    top: 50%
    transform: translateY(-50%)
    width: 16px
    height: 16px
    pointer-events: none
    user-select: none
    transition: opacity 0.2s

  &__button
    pointer-events: auto
    background: none
    border: none
    padding: 0
    cursor: pointer

    &:hover .form-field__icon
      opacity: 0.7

    .form-field__icon
      position: static
      width: 100%
      height: 100%
      right: 0
      left: 0
      transform: none

  &__input-wrapper
    position: relative
    
  &__input
    width: 100%
    height: 100%

    &::placeholder
      color: $color-gray-light

  &__error
    display: block
    font-size: $font-size-sm
    color: $color-red
    padding-top: $spacing-xs
